.game-header {
  gap: 32px;
}

.cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 8px;
}

@media (min-width: 479px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
  }
}

.ac-ln-content {
  margin: 64px auto 0 auto;
  width: 90%;
  padding: 0 4px;
  position: relative;
}

.menu {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score p {
  font-weight: 600;
  margin: 0 !important;
}

/* ---------------------------- Big Button White ---------------------------- */

button {
  all: unset;
}

:focus {
  outline: 4px solid rgba(0, 125, 250, 0.6);
  outline-offset: 1px;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  color: #06c;
  letter-spacing: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
a:disabled {
  opacity: 0.32;
}
a.icon-wrapper {
  text-decoration: none;
}
a.icon-wrapper:hover .icon-copy {
  text-decoration: underline;
}
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}
.button:active {
  outline: none;
}
.button:disabled {
  cursor: default;
}
.button:hover {
  background: #0077ed;
}
.button:active {
  background: #006edb;
}
.button:disabled {
  background: #0071e3;
  color: #fff;
  opacity: 0.32;
}
.button-elevated {
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  min-width: 26px;
  padding: 12px 22px;
}
.theme-dark a {
  color: #2997ff;
}
.theme-dark .button {
  background: #0071e3;
  color: #fff;
}
.theme-dark .button:hover {
  background: #0077ed;
}
.theme-dark .button:active {
  background: #006edb;
}
.theme-dark .button:disabled {
  background: #0071e3;
  color: #fff;
  opacity: 0.32;
}
@media only screen and (max-width: 734px) {
  .hero-tile .button-elevated {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
  }
  .hero-tile .button-elevated:hover {
    text-decoration: none;
  }
  .hero-tile .button-elevated:focus {
    box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
    outline: none;
  }
  .hero-tile .button-elevated:active {
    outline: none;
  }
  .hero-tile .button-elevated:disabled {
    cursor: default;
  }
  .hero-tile .button-elevated:hover {
    background: #0077ed;
  }
  .hero-tile .button-elevated:active {
    background: #006edb;
  }
  .hero-tile .button-elevated:disabled {
    background: #0071e3;
    color: #fff;
    opacity: 0.32;
  }
}
a.button:hover .icon-copy {
  text-decoration: none;
}
.section-airpods-pro .links-inline .buy {
  background-color: #fff;
  color: #000;
}
.section-airpods-pro .links-inline .buy:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* --------------- Small Button Blue (with less border radius) -------------- */

.button-block {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 8px;
}
