.game-header {
  gap: 32px;
}

.cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
}

@media (min-width: 479px) {
  .cards {
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .cards {
    gap: 24px;
  }
}

.ac-ln-content {
  margin: 64px auto 0 auto;
  width: 90%;
  padding: 0 4px;
  position: relative;
}

.menu {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
