//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=https://bin.swisscom.com/artifactory/api/npm/swisscom-npm-virtual/
//bin.swisscom.com/artifactory/api/npm/swisscom-npm-virtual/:_authToken=${SWISSCOM_NPM_TOKEN}