.front:hover {
  webkit-box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  cursor: pointer;
}

.front {
  transition: box-shadow 0.25s;
  background-color: #EDEDED;
}

.card-item {
  width: 200px;
  height: 200px;
}

.card-item div {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.memory-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.back {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .back,
.memory-card.flipped {
  transform: rotateY(180deg);
} */

.memory-card.found {
  transform: none !important;
  box-shadow: none;
  pointer-events: none;
  opacity: 0.3;
}

/* .component .content-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: unset !important;
}

.component .image-placeholder {
  height: 100% !important;
} */