.card-container {
  height: 75px;
  width: 75px;
}

@media (min-width: 768px) {
  .card-container {
    height: 150px !important;
    width: 150px !important;
  }
}

@media (min-width: 479px) {
  .card-container {
    height: 100px;
    width: 100px;
  }
}

.front:hover {
  webkit-box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  cursor: pointer;
}

.front,
.back {
  border: 1px solid rgb(221, 227, 231);
  box-shadow: rgb(51 51 51 / 8%) 0px 4px 16px 0px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-color: rgb(238, 243, 246);
  transition: box-shadow 0.25s;
}

.card-container .back,
.card-container .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-container .card-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.card-container .back,
.card-container .flipped {
  transform: rotateY(180deg);
}

.found {
  transform: rotateY(180deg);
}

.found .back {
  box-shadow: none !important;
  transition: opacity 0.5s;
  opacity: 0.25;
}
