button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
button:disabled {
  cursor: default;
}
.large-6 {
  flex-basis: 50%;
  max-width: 50%;
}
@media only screen and (max-width: 1068px) {
  .medium-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 734px) {
  .small-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
button:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}
.app-container.theme-dark .form-textbox-input {
  background-color: #000 !important;
}
.form-message-wrapper {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #e30000;
  position: relative;
  margin-top: 0.47059rem;
  margin-bottom: 0.70588rem;
  display: none;
}
.is-error .form-message-wrapper {
  display: flex;
}
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  --sk-button-margin-horizontal: 14px;
  --sk-button-margin-vertical: 14px;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}
.button:active {
  outline: none;
}
.button:disabled {
  cursor: default;
}
.button:hover {
  background: #0077ed;
}
.button:active {
  background: #006edb;
}
.button:disabled {
  background: #0071e3;
  color: #fff;
  opacity: 0.32;
}
.button-super {
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 28px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 18px;
  padding-bottom: 18px;
  --sk-button-margin-horizontal: 22px;
  --sk-button-margin-vertical: 22px;
}
.theme-dark .button {
  background: #0071e3;
  color: #fff;
}
.theme-dark .button:hover {
  background: #0077ed;
}
.theme-dark .button:active {
  background: #006edb;
}
.theme-dark .button:disabled {
  background: #0071e3;
  color: #fff;
  opacity: 0.32;
}
.theme-dark .form-message-wrapper {
  color: #ff3037;
}
.case-lookup-container .case-lookup-form {
  margin-top: 40px;
}
@media only screen and (max-width: 1068px) {
  .case-lookup-container .case-lookup-form {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 734px) {
  .case-lookup-container .case-lookup-form {
    margin-top: 23px;
  }
}
.case-lookup-container .case-lookup-form .case-lookup-submit {
  margin-top: 40px;
}
@media only screen and (max-width: 1068px) {
  .case-lookup-container .case-lookup-form .case-lookup-submit {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 734px) {
  .case-lookup-container .case-lookup-form .case-lookup-submit {
    margin-top: 23px;
  }
}
.form-message-wrapper {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #e30000;
  position: relative;
  margin-top: 0.47059rem;
  margin-bottom: 0.70588rem;
  display: none;
}
/* .form-message-wrapper::before,
.form-message-wrapper::after {
  font-family: "SF Pro Icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  alt: "";
}
.form-message-wrapper::before,
.form-message-wrapper::after {
  text-decoration: none;
}
.form-message-wrapper::before {
  display: none;
}
.form-message-wrapper::before,
.form-message-wrapper::after {
  content: "";
} */
.form-message-wrapper::before {
  padding-right: 0.3em;
  display: inline-block;
  top: 0;
}
.form-message-wrapper::after {
  display: none;
}
.form-message-wrapper::before {
  padding-right: 0.17647rem;
  top: 0.17647rem;
}
.is-error .form-message-wrapper {
  display: flex;
}
.form-textbox {
  position: relative;
}
.form-textbox .form-textbox-input {
  color: #1d1d1f;
  border-color: #d2d2d7;
  background-color: rgba(255, 255, 255, 0.8);
  text-overflow: ellipsis;
}
.theme-dark .form-textbox.is-error .form-textbox-input:not(:focus) {
  border-color: #ff3037;
}
.form-textbox .form-textbox-input:disabled {
  color: #86868b;
  -webkit-text-fill-color: #86868b;
  background-color: rgba(0, 0, 0, 0.02);
}
.form-textbox .form-textbox-input:focus {
  border-color: #0071e3;
}
.form-textbox .form-textbox-input::-webkit-input-placeholder {
  color: #6e6e73;
}
.form-textbox .form-textbox-input::placeholder {
  color: #6e6e73;
}
.form-textbox .form-textbox-label {
  color: #86868b;
}
.form-textbox.is-error .form-textbox-label {
  color: #e30000;
}
.form-textbox-input {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  width: 100%;
  height: 3.29412rem;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 0.82353rem;
  padding: 1.05882rem 0.94118rem 0 0.94118rem;
  text-align: left;
  -webkit-appearance: none;
  appearance: none;
}
.form-textbox-input:focus ~ .form-textbox-label,
.form-textbox-input.form-textbox-entered ~ .form-textbox-label {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  top: 0.58824rem;
}
.form-textbox-input:focus {
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
  outline: none;
}
.is-error .form-textbox-input {
  margin-bottom: 0;
}
.form-textbox-label {
  position: absolute;
  pointer-events: none;
  transition-timing-function: ease-in;
  transition-duration: 0.125s;
  top: 1.05882rem;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 32px);
  left: 1rem;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.theme-dark .form-message-wrapper {
  color: #ff3037;
}
.theme-dark .form-textbox .form-textbox-input {
  color: #f5f5f7;
  border-color: #424245;
  background-color: rgba(255, 255, 255, 0.04);
  text-overflow: ellipsis;
}
.theme-dark .form-textbox .form-textbox-input:disabled {
  color: #6e6e73;
  -webkit-text-fill-color: #6e6e73;
  background-color: rgba(255, 255, 255, 0.1);
}
.theme-dark .form-textbox .form-textbox-input:focus {
  border-color: #0071e3;
}
.theme-dark .form-textbox .form-textbox-input::-webkit-input-placeholder {
  color: #86868b;
}
.theme-dark .form-textbox .form-textbox-input::placeholder {
  color: #86868b;
}
.theme-dark .form-textbox .form-textbox-label {
  color: #6e6e73;
}
.theme-dark .form-textbox.is-error .form-textbox-label {
  color: #ff3037;
}
form .form-error-inline-message {
  display: block;
}
