sdx-card.front:hover {
  webkit-box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
  box-shadow: 4px 12px 40px 6px rgb(0 0 0 / 9%);
}

sdx-card.front {
  transition: box-shadow 0.25s;
}

.memory-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

sdx-card.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

sdx-card.back {
  transform: rotateY(180deg);
}

sdx-card.back,
.memory-card.flipped {
  transform: rotateY(180deg);
}

.memory-card.found {
  opacity: 0.3;
}
