.memory-card {
  height: 100px !important;
  width: 100px !important;
}

.game-header {
  gap: 32px;
}

.game-header h1 {
  margin: 0;
}

@media (min-width: 1024px) {
  .memory-card {
    margin-bottom: 24px !important;
  }
}

@media (min-width: 768px) {
  .memory-card {
    margin-bottom: 16px !important;
    height: 200px !important;
    width: 200px !important;
  }
}

@media (min-width: 479px) {
  .memory-card {
    height: 150px !important;
    width: 150px !important;
  }
}
